version: '3.8'

services:
  order-app:
    build:
      context: .
      dockerfile: .dockerfile
    environment:
      NODE_ENV: development
      PORT: 3333
      REDIS_HOST: redis
      REDIS_PORT: 6379
      DB_TYPE: mysql
      DB_HOST: localhost
      DB_PORT: 3306
      DB_DATABASE: orders
      DB_USER: orderdb
      DB_PASSWORD: Mudar@123
      AWS_REGION: us-east-1
      AWS_ENDPOINT: http://localstack:4566
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
    depends_on:
      redis:
        condition: service_started
      localstack:
        condition: service_healthy
    ports:
      - "3333:3333"
    restart: always

  redis:
    image: redis:7.4
    container_name: redis
    ports:
      - "6379:6379"

  # LocalStack para SQS
  localstack:
    container_name: "${LOCALSTACK_DOCKER_NAME:-localstack-main}"
    image: localstack/localstack
    ports:
      - "127.0.0.1:4566:4566"            # LocalStack Gateway
      - "127.0.0.1:4510-4559:4510-4559"  # external services port range
    environment:
      SERVICES: sqs,s3
      DEBUG: ${DEBUG:-0}
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
    healthcheck:
      test: ["CMD", "awslocal", "sqs", "list-queues"]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  db_data:
