services:
  scheduling-app:
    build:
      context: .
      dockerfile: .dockerfile
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_started
      localstack:
        condition: service_healthy
      db:
        condition: service_healthy
    ports:
      - "3333:3333"
    restart: always

  redis:
    image: redis:7.4
    container_name: redis
    ports:
      - "6379:6379"

  localstack:
    container_name: "${LOCALSTACK_DOCKER_NAME:-localstack-main}"
    image: localstack/localstack
    ports:
      - "127.0.0.1:4566:4566"
      - "127.0.0.1:4510-4559:4510-4559"
    environment:
      SERVICES: sqs,s3
      DEBUG: ${DEBUG:-0}
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
    healthcheck:
      test: ["CMD", "awslocal", "sqs", "list-queues"]
      interval: 15s
      timeout: 60s
      retries: 10

  db:
    build:
      context: .
      dockerfile: Dockerfile.db
    container_name: mysql-db
    env_file:
      - .env.mysql
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "/usr/local/bin/healthcheckdb.sh"]
      interval: 15s
      timeout: 5s
      retries: 2
      start_period: 10s

volumes:
  mysql-data:
